.container {
    height: 3000px;
    background: #CCC;
}

nav {
    height: 80px;
    background: #FFF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.content {
    margin-top: 80px;
}